{% extends "base.html" %}
{% load custom_markdown %}

{% block content %}
    <div class="posts">
                <section class="post">
                    <header class="post-header">
                        <h2 class="post-title">{{ blog.title }}</h2>

                        <p class="post-meta">
                            Time:<a href="#" class="post-author">{{ blog.date_time|date:"Y /m /d" }}</a> under
                            <a class="post-category post-category-js" href="#">{{ blog.category }}</a>
                        </p>
                    </header>

                    <div class="post-description">
                        <p>
                            {{ blog.content|custom_markdown }}
                        </p>
                    </div>
                </section>
    </div>
{% endblock %}